{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="squashapp-ng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="SQuA SHell (SQUASH) ">
    <meta name="author" content="SQA Group, FC Consulting, OFSS">
    <!-- TODO -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title>Squash</title>
    <link href={% static "squashapp/css/opensans.css" %} rel="stylesheet">
    <link href={% static "squashapp/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "squashapp/css/font-awesome.min.css" %} rel="stylesheet">
    <!-- Custom styles for this template
    TODO - #write base.css-->
    <link href={% static "squashapp/css/custom-base.css" %} rel="stylesheet">
    <!-- Bootstrap core CSS -->
    {% block css %}

    {% endblock css %}

    <script src={% static "squashapp/js/jquery.min.js" %}></script>
    <script src={% static "squashapp/js/angular.min.js" %}></script>
    <script src={% static "squashapp/js/angular-resource.min.js" %}></script>
    <script src={% static "squashapp/js/angular-route.min.js" %}></script>
    <script src={% static "squashapp/js/angular-ui-router.min.js" %}></script>


    <!-- Angular JS files-->
<script src={% static "squashapp/js/app.js" %}></script>
<script src={% static "squashapp/js/services.js" %}></script>
<script src={% static "squashapp/js/controller.js" %}></script>

    <!-- BOILER PLATE CODE BELOW -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="ProjectListCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">Squash
                </a>
            </div>
            {% block search-box %}
                <div class="form-search custom-search-form col-md-3 col-md-offset-4 ">
                <form class="navbar-form">
                    <input type="text" class="form-control custom-search-box" placeholder="Search...">
                    <button type="submit" class="btn btn-danger custom-btn-go"><i class="fa fa-search"></i></button>
                </form>
            </div>
            {% endblock search-box %}
            {% block greetings %}
                <div class="col-md-3 custom-welcome-user ">
                <p class="pull-right">
                    User: {{request.user}}
                </p>
            </div>
            {% endblock greetings %}

            <!-- Single button -->
            {% block settings-dropdown %}
                <div class="btn-group custom-settings-button pull-right">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu custom-settings-dropdown">
                    <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                </ul>
            </div>
            {% endblock settings-dropdown %}

        </div>
    </nav>
    <div id="wrapper">
        {% block sidebar %}
            <div id="sidebar-wrapper" class="col-md-1 custom-left-sidebar">
            <div id="sidebar">
                <ul class="nav">
                    <li class="custom-main-list">
                        <a href="#">My Dashboard</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="custom-main-list">
                        <a>Release</a>
                    </li>
                    <ul>
                        <li class="custom-sub-list">
                            <a href="#">Create Release</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
        {% endblock sidebar %}
        {% block breadcrumb-wrapper %}
        <div id="top-main-wrapper" class="col-md-11 pull-right custom-top-right-sidebar">
            <div id="top-main">
                {% block breadcrumb %}
                <ol class="breadcrumb">
                    <li><a href="">Home</a></li>
                    <li class="active" ui-sref-active="active"><a ui-sref="projects">My Dashboard</a></li>
                </ol>
                {% endblock breadcrumb %}
            </div>
        </div>
        {% endblock breadcrumb-wrapper %}

        {% block content-wrapper %}


        <div id="main-wrapper" class="col-md-11 pull-right custom-right-sidebar">

                <div id="main">
                {% block content %}
                <div ui-view></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repellat mollitia numquam est adipisci fugiat maiores neque nulla veritatis architecto!</p>
                {% endblock content %}
                </div>

        </div>
        {% endblock content-wrapper %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "squashapp/js/bootstrap.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>

</html>
