{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
        <link href={% static "squashapp/css/bootstrap.min.css" %} rel="stylesheet">
        <link href={% static "squashapp/css/font-awesome.min.css" %} rel="stylesheet">
    <!-- Custom styles for this template
    TODO - #write base.css-->
        <link href={% static "squashapp/css/custom-base.css" %} rel="stylesheet">
        <link href={% static "squashapp/css/custom-login.css" %} rel="stylesheet">
    {% endblock css %}

{% block search-box %}

{% endblock search-box %}

{% block greetings %}

{% endblock greetings %}

{% block settings-dropdown %}

{% endblock settings-dropdown %}

{% block sidebar %}

{% endblock sidebar %}

{% block breadcrumb-wrapper %}

{% endblock breadcrumb-wrapper %}

{% block breadcrumb %}

{% endblock breadcrumb %}

{% block content-wrapper %}
<div id="main-wrapper" class="col-md-11 pull-right custom-right-sidebar">

<div id="main">

    </div>
    </div>
{% endblock content-wrapper %}

{% block content %}

{% endblock content %}
