{% extends "base.html" %} {% load i18n %} {% load staticfiles %} {% load crispy_forms_tags %} {% block css %}
<link href={% static "squashapp/css/bootstrap.min.css" %} rel="stylesheet">
<link href={% static "squashapp/css/font-awesome.min.css" %} rel="stylesheet">
<!-- Custom styles for this template
    TODO - #write base.css-->
<link href={% static "squashapp/css/custom-base.css" %} rel="stylesheet">
<link href={% static "squashapp/css/custom-login.css" %} rel="stylesheet"> {% endblock css %} {% block search-box %} {% endblock search-box %} {% block greetings %} {% endblock greetings %} {% block settings-dropdown %}
<div class="btn-group custom-settings-button pull-right">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu custom-settings-dropdown">
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'auth_password_reset' %}">Reset Password</a></li>
                </ul>
            </div>
 {% endblock settings-dropdown %} {% block sidebar %} {% endblock sidebar %} {% block breadcrumb-wrapper %} {% endblock breadcrumb-wrapper %} {% block breadcrumb %} {% endblock breadcrumb %} {% block content-wrapper %}
<div id="main-wrapper" class="col-md-12 pull-right custom-right-sidebar">
    <div id="main">
        {% block content %}
        <div class='row'>

            <div class="form-title col-md-2 col-sm-offset-4">
            <h1>Login:</h1>
                <br/>
            </div>
            <div class='custom-form col-md-3 col-sm-offset-4'>

                <form method="post" action=".">
                    {% csrf_token %}
                    <br/><br/>
                    {{ form|crispy }}
                    <br/>
                    <input class='btn btn-block btn-danger custom-button' type="submit" value="{% trans 'Submit' %}" />
                    <br/>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <br/><br/>
                </form>
            </div>
        </div>

        {% endblock %}
    </div>
</div>
{% endblock content-wrapper %}
