#main {
    margin-left: -10%;
}
p a {
    margin-left:25%;
    font-weight:400;
    color: rgb(70,87,94);
    font-size: 24px;
}
.lead1 {
    padding-left:40px;
}
#main {
    margin-left: -25%;
}
/* for wide monitors */
@media (min-width: 1400px) {
    .lead1 {
    padding-left:0px;
}
}
