body {
    background-color: #fff;
}
/*#main-wrapper {
    margin-top: 12%;
    border: 1px solid gray;
}*/
/*#main {
    margin-top: 12%;
    border: 1px solid gray;
}
*/
.custom-form{
    margin-top: 1%;
    border: 1px solid grey;
}
.form-title {
    margin-top: 10%;
}
