<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="icon-reorder"></i>
        </button>
        <a class="navbar-brand" href="#">
            Brand
        </a>
    </div>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper" class="col-md-1">
        <div id="sidebar">
            <ul class="nav">
                <li>
                    <a class="" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 1</a>
                </li>
                <li>
                    <a class="" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 2</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-wrapper" class="col-md-11 pull-right">
        <div id="main">
            <div class="page-header">
                <h3>Admin</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, potenti.</p>
        </div>
    </div>
</div>
