
    <div ng-init="group = (regionalprojects | groupBy:'project_region')" style="width:100%">
    <h4>Pick a region</h4>
        <div ng-repeat="m in group track by $index" style="width:100px; float:left;">
            <h4>Pick a html</h4>
            <b><input type="checkbox" ng-model="regions[$index]"/>{$$ m $$}</b>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div>
        <ul>
            <li ng-repeat="project in regionalprojects track by $index| filter:filterRegions()">
                <p><b>{$$project.project_region$$} - {$$project.project_release_name$$}</b></p>
            </li>
        </ul>
    </div>




