<ul class="nav nav-tabs">
    <li> <a ui-sref="projectslist">All Projects</a></li>
    <li><a ui-sref="myprojects({name1:AuthUser})">My Projects</a></li>
    <li ui-sref-active="active"><a ui-sref="regionprojects">Region Projects</a></li>
</ul>
<div class="well">
    <div ng-init="uniquegroups" style="width:100%">
        <h5>Pick a Region / Product</h5>
        <div ng-repeat="group in uniquegroups" style="width:100px; float:left;">
            <b><input type="checkbox" ng-model="regions[$index]"/> {$$ group $$}
            </b>
        </div>
    </div>
    <div style="clear:both;"></div>
    <br/>
    <table class="table table-striped">
        <tr class='custom-table-header'>
            <td>No</td>
            <td>Release Name</td>
            <td>Release ID</td>
            <td>Mgd By</td>
            <td>Type</td>
            <td>TPD</td>
            <td>Region</td>
            <td>SubRegion</td>
            <td>Project Manager</td>
            <td>SQA Contact</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Status</td>
        </tr>
        <tr ng-repeat="project in filtered = (regionalprojects |  filter:filterRegions())">
            <td>{$$ $index+1 $$}</td>
            <td ng-click="EditRow(project)"><a ui-sref="projectdetails">{$$ project.project_release_name$$}</a></td>
            <td>{$$ project.project_uid$$}</td>
            <td>{$$ project.project_managed_by$$}</td>
            <td>{$$ project.project_class$$}</td>
            <td>{$$ project.project_total_effort$$}</td>
            <td>{$$ project.project_region$$}</td>
            <td>{$$ project.project_subregion$$}</td>
            <td>{$$ project.project_manager$$}</td>
            <td>{$$ project.project_primary_sqa$$}</td>
            <td>{$$ project.project_start_date | date $$} </td>
            <td>{$$ project.project_end_date | date $$}</td>
            <td>{$$ project.project_status $$}</td>
        </tr>
    </table>
    <div class="filtered-rows">
        {$$ filtered.length $$} rows returned.
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
